@font-face {
    font-display: swap;
    font-family: 'Lora-Regular';
    font-style: normal;
    src: url('@fonts/Lora/Lora-VariableFont_wght.ttf') format('truetype');
  }

  @font-face {
    font-display: swap;
    font-family: 'Lora-Italic';
    font-style: italic;
    src: url('@fonts/Lora/Lora-Italic-VariableFont_wght.ttf') format('truetype');
  }

  @font-face {
    font-display: swap;
    font-family: 'Outfit-Regular';
    font-style: normal;
    src: url('@fonts/Outfit/Outfit-VariableFont_wght.ttf') format('truetype');
  }

  